{{ header }}{{ column_left }}

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal" onsubmit="return submitForm()">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-status" data-toggle="tab">{{ tab_order_status }}</a></li>
            <li><a href="#tab-fields" data-toggle="tab">Mapeamento de Campos</a></li>
            <li><a href="#tab-installments" data-toggle="tab">Configurar Parcelamento</a></li>
          </ul>

          <div class="tab-content">

            <div class="tab-pane active" id="tab-general">
              <hr/>
              <h3>Configurações do Checkout</h3><small>* você obtém esses dados no seu processo de credenciamento ou na sua conta digital IOPAY (http://iopay.com.br)</small><br><br>
              <div class="form-group required">

                <label class="col-sm-2 control-label" for="entry-email">{{ entry_email }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_iopay_checkout_transparente_card_email" value="{{ payment_iopay_checkout_transparente_card_email }}" placeholder="{{ entry_email }}" id="entry-email" class="form-control"/>
                  <small>Email cadastrado na sua conta IOPAY</small>
                  {% if error_email %}
                  <div class="text-danger">{{ error_email }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="entry-ioid">IO SELLER ID</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_iopay_checkout_transparente_card_ioid" value="{{ payment_iopay_checkout_transparente_card_ioid }}" placeholder="Digite o IO ID da sua loja" id="entry-ioid" class="form-control"/>
                  {% if error_ioid %}
                    <div class="text-danger">{{ error_ioid }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="entry-ioid">API SECRET</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_iopay_checkout_transparente_card_io_api_secret" value="{{ payment_iopay_checkout_transparente_card_io_api_secret }}" placeholder="Api secret" id="entry-io_api_secret" class="form-control"/>

                  {% if error_io_api_secret %}
                    <div class="text-danger">{{ error_io_api_secret }}</div>
                  {% endif %}
                </div>
              </div>


              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-live-demo"><span data-toggle="tooltip" title="Escolha o seu plano antifraude, conforme cadastrado na IOPAY">IO ANTIFRAUD_PUBLIC_TYPE</span></label>
                <div class="col-sm-10">
                  <select name="payment_iopay_checkout_transparente_card_antifraud_type" id="input-live-demo" class="form-control">

                    {% if payment_iopay_checkout_transparente_card_antifraud_type == 'with_anti_fraud' %}
                      <option value="without_anti_fraud" onclick="hideAntifraudPublicKey(true)">Sem Antifraude</option>
                      <option value="with_anti_fraud" onclick="hideAntifraudPublicKey(false)"selected="selected">Antifraude Padrão</option>
                      <option value="with_anti_fraud_insurance" onclick="hideAntifraudPublicKey(false)">Antifraude com Seguro</option>
                    {% elseif payment_iopay_checkout_transparente_card_antifraud_type == 'with_anti_fraud_insurance' %}
                      <option value="without_anti_fraud" onclick="hideAntifraudPublicKey(true)">Sem Antifraude</option>
                      <option value="with_anti_fraud" onclick="hideAntifraudPublicKey(false)">Antifraude Padrão</option>
                      <option value="with_anti_fraud_insurance" onclick="hideAntifraudPublicKey(false)" selected="selected">Antifraude com Seguro</option>
                    {% else %}
                      <option value="without_anti_fraud" selected="selected" onclick="hideAntifraudPublicKey(true)">Sem Antifraude</option>
                      <option value="with_anti_fraud" onclick="hideAntifraudPublicKey(false)">Antifraude Padrão</option>
                      <option value="with_anti_fraud_insurance" onclick="hideAntifraudPublicKey(false)">Antifraude com Seguro</option>
                    {% endif %}

                  </select>

                </div>
              </div>

              <div class="form-group required" id="iopay_antifraud_public_key_field">
                <label class="col-sm-2 control-label" for="entry-ioid">IO ANTIFRAUD_PUBLIC_KEY</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_iopay_checkout_transparente_card_antifraud_id" value="{{ payment_iopay_checkout_transparente_card_antifraud_id }}" placeholder="ANTIFRAUD ID (obrigatório quando o seu plano na IO contém antifraude habilitado)" id="entry-ioid" class="form-control"/>
                  {% if error_antifraud_id %}
                    <div class="text-danger">{{ error_antifraud_id }}</div>
                  {% endif %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-live-demo"><span data-toggle="tooltip" title="{{ help_test }}">{{ entry_test }}</span></label>
                <div class="col-sm-10">
                  <select name="payment_iopay_checkout_transparente_card_test" id="input-live-demo" class="form-control">
                    {% if payment_iopay_checkout_transparente_card_test %}
                    <option value="1" selected="selected">{{ text_yes }}</option>
                    <option value="0">{{ text_no }}</option>
                    {% else %}
                    <option value="1">{{ text_yes }}</option>
                    <option value="0" selected="selected">{{ text_no }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-debug"><span data-toggle="tooltip" title="{{ help_debug }}">{{ entry_debug }}</span></label>
                <div class="col-sm-10">
                  <select name="payment_iopay_checkout_transparente_card_debug" id="input-debug" class="form-control">
                    {% if payment_iopay_checkout_transparente_card_debug %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-transaction">{{ entry_transaction }}</label>
                <div class="col-sm-10">
                  <select name="payment_iopay_checkout_transparente_card_transaction" id="input-transaction" class="form-control">
                    {% if not payment_iopay_checkout_transparente_card_transaction %}
                    <option value="0" selected="selected">{{ text_authorization }}</option>
                    {% else %}
                    <option value="0">{{ text_authorization }}</option>
                    {% endif %}
                    {% if payment_iopay_checkout_transparente_card_transaction %}
                    <option value="1" selected="selected">{{ text_sale }}</option>
                    {% else %}
                    <option value="1">{{ text_sale }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="{{ help_total }}">{{ entry_total }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="payment_iopay_checkout_transparente_card_total" value="{{ payment_iopay_checkout_transparente_card_total }}" placeholder="{{ entry_total }}" id="input-total" class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
                <div class="col-sm-10">
                  <select name="payment_iopay_checkout_transparente_card_card_geo_zone_id" id="input-geo-zone" class="form-control">
                    <option value="0">{{ text_all_zones }}</option>
                    {% for geo_zone in geo_zones %}
                    {% if geo_zone.geo_zone_id == payment_iopay_checkout_transparente_card_geo_zone_id %}
                    <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                    {% else %}
                    <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="payment_iopay_checkout_transparente_card_status" id="input-status" class="form-control">
                    {% if payment_iopay_checkout_transparente_card_status %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_iopay_checkout_transparente_card_sort_order" value="{{ payment_iopay_checkout_transparente_card_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-status">
            <hr/>
            <h3>Status do Pedido</h3><small>* de acordo com o retorno do processamento do pagamento</small><br><br>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-canceled-status">Cancelado</label>
                <div class="col-sm-10">
                  <select name="payment_iopay_checkout_transparente_card_canceled_status_id" id="input-canceled-status" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_iopay_checkout_transparente_card_canceled_status_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-processed-status">Pagamento Processado</label>
              <div class="col-sm-10">
                <select name="payment_iopay_checkout_transparente_card_processed_status_id" id="input-processed-status" class="form-control">
                  {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_iopay_checkout_transparente_card_processed_status_id %}
                      <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                      <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-denied-status">Negado</label>
                <div class="col-sm-10">
                  <select name="payment_iopay_checkout_transparente_card_denied_status_id" id="input-denied-status" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_iopay_checkout_transparente_card_denied_status_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-expired-status">Expirado (prazo de pagamento expirado)</label>
                <div class="col-sm-10">
                  <select name="payment_iopay_checkout_transparente_card_expired_status_id" id="input-expired-status" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_iopay_checkout_transparente_card_expired_status_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-failed-status">Falhado</label>
                <div class="col-sm-10">
                  <select name="payment_iopay_checkout_transparente_card_failed_status_id" id="input-failed-status" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_iopay_checkout_transparente_card_failed_status_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-pending-status">Pendente</label>
                <div class="col-sm-10">
                  <select name="payment_iopay_checkout_transparente_card_pending_status_id" id="input-pending-status" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_iopay_checkout_transparente_card_pending_status_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-void-status">Pagamento Estornado</label>
                <div class="col-sm-10">
                  <select name="payment_iopay_checkout_transparente_card_voided_status_id" id="input-void-status" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_iopay_checkout_transparente_card_voided_status_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>

          <!-- Mapeamento de campos -->

            <div class="tab-pane" id="tab-fields">
              <hr/>
              <h3>Mapeamento de Campos</h3><br><br>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-canceled-status">CPF (account)<br><small style="font-weight: normal; font-size: 12px">O campo CPF não é nativo do OpenCart, portando cadastre-o com o tipo 'conta' e selecione-o ao lado</small></label>
                <div class="col-sm-10">

                  <select name="payment_iopay_checkout_transparente_card_mapping_user_primarydocument" id="payment_iopay_checkout_transparente_card_mapping_user_primarydocument" class="form-control">
                    {% for custom_field in custom_fields %}
                        {% if payment_iopay_checkout_transparente_card_mapping_user_primarydocument == custom_field.custom_field_id %}
                          <option value="{{ custom_field.custom_field_id }}" selected="selected">{{ custom_field.location }} : {{ custom_field.name }}</option>
                        {% else %}
                          <option value="{{ custom_field.custom_field_id }}" >{{ custom_field.location }} : {{ custom_field.name }}</option>
                        {% endif %}
                    {% endfor %}
                  </select>

                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-canceled-status">CPF (address)<br><small style="font-weight: normal; font-size: 12px">O campo CPF (de quem recebe a entrega) não é nativo do OpenCart, portando cadastre-o com o tipo 'endereço' e selecione-o ao lado. (Este campo é exigido pela análise antifraude)</small></label>
                <div class="col-sm-10">

                  <select name="payment_iopay_checkout_transparente_card_mapping_shipping_primarydocument" id="payment_iopay_checkout_transparente_card_mapping_shipping_primarydocument" class="form-control">
                    {% for custom_field in custom_fields %}
                      {% if payment_iopay_checkout_transparente_card_mapping_shipping_primarydocument == custom_field.custom_field_id %}
                        <option value="{{ custom_field.custom_field_id }}" selected="selected">{{ custom_field.location }} : {{ custom_field.name }}</option>
                      {% else %}
                        <option value="{{ custom_field.custom_field_id }}" >{{ custom_field.location }} : {{ custom_field.name }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>

                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="payment_iopay_checkout_transparente_card_mapping_shipping_addressnumber">Número do endereço (address)<br><small style="font-weight: normal; font-size: 12px">Campo para Número do endereço. Se você selecionar "Não usar campo separado para número" o módulo da IO extrairá o número automaticamente à partir do campo 'endereço'</small></label>
                <div class="col-sm-10">

                  <select name="payment_iopay_checkout_transparente_card_mapping_shipping_addressnumber" id="payment_iopay_checkout_transparente_card_mapping_shipping_addressnumber" class="form-control">
                    <option value="0">Não usar campo separado para número</option>
                    {% for custom_field in custom_fields %}
                      {% if payment_iopay_checkout_transparente_card_mapping_shipping_addressnumber == custom_field.custom_field_id %}
                        <option value="{{ custom_field.custom_field_id }}" selected="selected">{{ custom_field.location }} : {{ custom_field.name }}</option>
                      {% else %}
                        <option value="{{ custom_field.custom_field_id }}" >{{ custom_field.location }} : {{ custom_field.name }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>

                </div>
              </div>

            </div>

            <div class="tab-pane" id="tab-installments">
              <hr/>
              <h3>Parcelamento</h3><small>* configure taxas extras que serão aplicadas sob o valor de cada parcela (valores em %)</small><br><br>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-canceled-status">Parcelamento Máximo</label>
                <div class="col-sm-10">
                  <select name="payment_iopay_checkout_transparente_card_installment_max" class="form-control">
                      <option value="1" {% if payment_iopay_checkout_transparente_card_installment_max == '1' %} selected="selected" {% endif %}>Somente Crédito à Vista</option>
                      <option value="2" {% if payment_iopay_checkout_transparente_card_installment_max == '2' %} selected="selected" {% endif %}>Até 2 parcelas</option>
                      <option value="3" {% if payment_iopay_checkout_transparente_card_installment_max == '3' %} selected="selected" {% endif %}>Até 3 parcelas</option>
                      <option value="4" {% if payment_iopay_checkout_transparente_card_installment_max == '4' %} selected="selected" {% endif %}>Até 4 parcelas</option>
                      <option value="5" {% if payment_iopay_checkout_transparente_card_installment_max == '5' %} selected="selected" {% endif %}>Até 5 parcelas</option>
                      <option value="6" {% if payment_iopay_checkout_transparente_card_installment_max == '6' %} selected="selected" {% endif %}>Até 6 parcelas</option>
                      <option value="7" {% if payment_iopay_checkout_transparente_card_installment_max == '7' %} selected="selected" {% endif %}>Até 7 parcelas</option>
                      <option value="8" {% if payment_iopay_checkout_transparente_card_installment_max == '8' %} selected="selected" {% endif %}>Até 8 parcelas</option>
                      <option value="9" {% if payment_iopay_checkout_transparente_card_installment_max == '9' %} selected="selected" {% endif %}>Até 9 parcelas</option>
                      <option value="10" {% if payment_iopay_checkout_transparente_card_installment_max == '10' %} selected="selected" {% endif %}>Até 10 parcelas</option>
                      <option value="11" {% if payment_iopay_checkout_transparente_card_installment_max == '11' %} selected="selected" {% endif %}>Até 11 parcelas</option>
                      <option value="12" {% if payment_iopay_checkout_transparente_card_installment_max == '12' %} selected="selected" {% endif %}>Até 12 parcelas</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-canceled-status">Crédito à vista (%)</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_iopay_checkout_transparente_card_installment_fee_1x" id="payment_iopay_checkout_transparente_card_installment_fee_1x" class="form-control" value="{{ payment_iopay_checkout_transparente_card_installment_fee_1x }}" maxlength="5" size="5" onblur="validateInstallmentsFees(1)" placeholder="0.00"/>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-canceled-status">Parcelado em 2x (%)</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_iopay_checkout_transparente_card_installment_fee_2x" id="payment_iopay_checkout_transparente_card_installment_fee_2x" class="form-control" value="{{ payment_iopay_checkout_transparente_card_installment_fee_2x }}" maxlength="5" size="5" onblur="validateInstallmentsFees(2)" placeholder="0.00"/>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-canceled-status">Parcelado em 3x (%)</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_iopay_checkout_transparente_card_installment_fee_3x" id="payment_iopay_checkout_transparente_card_installment_fee_3x" class="form-control" value="{{ payment_iopay_checkout_transparente_card_installment_fee_3x }}" maxlength="5" size="5" onblur="validateInstallmentsFees(3)"/>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-canceled-status">Parcelado em 4x (%)</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_iopay_checkout_transparente_card_installment_fee_4x" id="payment_iopay_checkout_transparente_card_installment_fee_4x" class="form-control" value="{{ payment_iopay_checkout_transparente_card_installment_fee_4x }}" maxlength="5" size="5" placeholder="0.00" onblur="validateInstallmentsFees(4)"/>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-canceled-status">Parcelado em 5x (%)</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_iopay_checkout_transparente_card_installment_fee_5x" id="payment_iopay_checkout_transparente_card_installment_fee_5x" class="form-control"  value="{{ payment_iopay_checkout_transparente_card_installment_fee_5x }}" maxlength="5" size="5" placeholder="0.00" onblur="validateInstallmentsFees(5)"/>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-canceled-status">Parcelado em 6x (%)</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_iopay_checkout_transparente_card_installment_fee_6x" id="payment_iopay_checkout_transparente_card_installment_fee_6x" class="form-control"  value="{{ payment_iopay_checkout_transparente_card_installment_fee_6x }}" maxlength="5" size="5" onblur="validateInstallmentsFees(6)"/>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-canceled-status">Parcelado em 7x (%)</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_iopay_checkout_transparente_card_installment_fee_7x" id="payment_iopay_checkout_transparente_card_installment_fee_7x" class="form-control"  value="{{ payment_iopay_checkout_transparente_card_installment_fee_7x }}" maxlength="5" size="5" onblur="validateInstallmentsFees(7)"/>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-canceled-status">Parcelado em 8x (%)</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_iopay_checkout_transparente_card_installment_fee_8x" id="payment_iopay_checkout_transparente_card_installment_fee_8x" class="form-control"  value="{{ payment_iopay_checkout_transparente_card_installment_fee_8x }}" maxlength="5" size="5" onblur="validateInstallmentsFees(8)"/>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-canceled-status">Parcelado em 9x (%)</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_iopay_checkout_transparente_card_installment_fee_9x" id="payment_iopay_checkout_transparente_card_installment_fee_9x" class="form-control"  value="{{ payment_iopay_checkout_transparente_card_installment_fee_9x }}" maxlength="5" size="5" onblur="validateInstallmentsFees(9)"/>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-canceled-status">Parcelado em 10x (%)</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_iopay_checkout_transparente_card_installment_fee_10x" id="payment_iopay_checkout_transparente_card_installment_fee_10x" class="form-control" value="{{ payment_iopay_checkout_transparente_card_installment_fee_10x }}" maxlength="5" size="5" onblur="validateInstallmentsFees(10)"/>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-canceled-status">Parcelado em 11x (%)</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_iopay_checkout_transparente_card_installment_fee_11x" id="payment_iopay_checkout_transparente_card_installment_fee_11x" class="form-control" value="{{ payment_iopay_checkout_transparente_card_installment_fee_11x }}" maxlength="5" size="5" onblur="validateInstallmentsFees(11)"/>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-canceled-status">Parcelado em 12x (%)</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_iopay_checkout_transparente_card_installment_fee_12x" id="payment_iopay_checkout_transparente_card_installment_fee_12x" class="form-control" value="{{ payment_iopay_checkout_transparente_card_installment_fee_12x }}" maxlength="5" size="5" onblur="validateInstallmentsFees(12)"/>
                </div>
              </div>

            </div>

          </div>

        </form>
      </div>
    </div>
  </div>
</div>


<script>

  var fees_error = 0;

  function validateInstallmentsFees(installment_fee_number){

    var element = document.getElementById('payment_iopay_checkout_transparente_card_installment_fee_'+installment_fee_number+'x');

    if(element) {
      var input = element.value.replace(/\s+/g, "");

      if (isFinite(input) && input != '') {
        element.style = "border: 1px solid green";
        this.fees_error = 0;
        return false;
      } else {
        element.style = "border: 1px solid red";
        this.fees_error = 1;
        return true;
      }
    }

  }

  function submitForm(){
    var i = 0;

    for(i = 1; i <= 12; i++){
      if(validateInstallmentsFees(i) === true){
        alert("Configurações de Parcelamento com Erro!\nVerifique as taxas antes de prosseguir!");
        return false;
      }
    }
    return true;
  }

  // REMOVE A OPÇÃO 'ANTIFRAUD_PUBLIC_KEY' CASO O PLANO SELECIONADO SEJA SEM ANTIFRAUDE
  function hideAntifraudPublicKey(hide){
    var objStyle = document.getElementById('iopay_antifraud_public_key_field').style;

    if(hide){
      objStyle.display = 'none';
    }else {
      objStyle.display = 'block';
    }
  }

  submitForm();

</script>

{% if payment_iopay_checkout_transparente_card_antifraud_type != 'with_anti_fraud' and payment_iopay_checkout_transparente_card_antifraud_type != 'with_anti_fraud_insurance' %}
  <script>
    hideAntifraudPublicKey(true);
  </script>
{% endif %}

{{ footer }}